Repository XiMatriarx/react: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --config .jestrc.json, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint src test",
  "*.{json,ts,tsx}": "prettier --write",
  "*.{ts,tsx}": "jest --config .jestrc.json"
}

init (#1)
  .editorconfig
  .eslintrc.json
  .eslinttypescriptrc.json
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/cron.yml
  .github/workflows/release.yml
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .lintstagedrc.json
  .npmignore
  .prettierrc.json
  .typescriptrc.json
  bin/init.sh
  citation.cff
  codeowners
  hooks/pre-commit
  license
  package.json
  readme.md
  src/index.ts
  test/index.ts
Due: jest --config .jestrc.json, prettier --write

setup
  .env
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .lintstagedrc.json
  .npmignore
  .typescriptrc.json
  bin/init.sh
  devwebpackrc.js
  dockerfile
  index.html
  nginx.conf
  package-lock.json
  package.json
  readme.md
  src/app.tsx
  src/index.html
  src/index.ts
  src/index.tsx
  src/static/images/favicon.ico
  webpackrc.js
Due: jest --config .jestrc.json, prettier --write

setup (#2)
  .env
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .lintstagedrc.json
  .npmignore
  .typescriptrc.json
  bin/init.sh
  devwebpackrc.js
  dockerfile
  index.html
  nginx.conf
  package-lock.json
  package.json
  readme.md
  src/app.tsx
  src/index.html
  src/index.ts
  src/index.tsx
  src/static/images/favicon.ico
  webpackrc.js
Due: jest --config .jestrc.json, prettier --write

style
  .devwebpackrc.js
  .editorconfig
  .env
  .eslintrc.json
  .eslinttypescriptrc.json
  .github/dependabot.yml
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .lintstagedrc.json
  .npmignore
  .typescriptrc.json
  .webpackrc.js
  citation.cff
  devwebpackrc.js
  index.html
  package-lock.json
  package.json
  readme.md
  src/index.html
  webpackrc.js
Due: prettier --write

testing
  .devwebpackrc.js
  .eslintrc.json
  .eslinttypescriptrc.json
  .jestrc.json
  .jesttypescriptrc.json
  .typescriptrc.json
  .webpackrc.js
  src/app.tsx
  src/index.tsx
  src/theme/index.scss
  test/__snapshots__/index.tsx.snap
  test/index.ts
  test/index.tsx
Due: jest --config .jestrc.json, prettier --write

Testing (#3)
  .devwebpackrc.js
  .editorconfig
  .env
  .eslintrc.json
  .eslinttypescriptrc.json
  .github/dependabot.yml
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .lintstagedrc.json
  .npmignore
  .typescriptrc.json
  .webpackrc.js
  citation.cff
  devwebpackrc.js
  index.html
  package-lock.json
  package.json
  readme.md
  src/app.tsx
  src/index.html
  src/index.tsx
  src/theme/index.scss
  test/__snapshots__/index.tsx.snap
  test/index.ts
  test/index.tsx
  webpackrc.js
Due: jest --config .jestrc.json, prettier --write

Revert "Testing (#3)"
  .devwebpackrc.js
  .editorconfig
  .env
  .eslintrc.json
  .eslinttypescriptrc.json
  .github/dependabot.yml
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .lintstagedrc.json
  .npmignore
  .typescriptrc.json
  .webpackrc.js
  citation.cff
  devwebpackrc.js
  index.html
  package-lock.json
  package.json
  readme.md
  src/app.tsx
  src/index.html
  src/index.tsx
  src/theme/index.scss
  test/__snapshots__/index.tsx.snap
  test/index.ts
  test/index.tsx
  webpackrc.js
Due: jest --config .jestrc.json, prettier --write

Revert "Testing (#3)" (#4)
  .devwebpackrc.js
  .editorconfig
  .env
  .eslintrc.json
  .eslinttypescriptrc.json
  .github/dependabot.yml
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .lintstagedrc.json
  .npmignore
  .typescriptrc.json
  .webpackrc.js
  citation.cff
  devwebpackrc.js
  index.html
  package-lock.json
  package.json
  readme.md
  src/app.tsx
  src/index.html
  src/index.tsx
  src/theme/index.scss
  test/__snapshots__/index.tsx.snap
  test/index.ts
  test/index.tsx
  webpackrc.js
Due: jest --config .jestrc.json, prettier --write

setup
  .devwebpackrc.js
  .eslintrc.json
  .eslinttypescriptrc.json
  .jestrc.json
  .jesttypescriptrc.json
  .typescriptrc.json
  .webpackrc.js
  src/app.tsx
  src/index.tsx
  src/theme/index.scss
  test/__snapshots__/index.tsx.snap
  test/index.ts
  test/index.tsx
Due: jest --config .jestrc.json, prettier --write

Testing (#5)
  .devwebpackrc.js
  .editorconfig
  .env
  .eslintrc.json
  .eslinttypescriptrc.json
  .github/dependabot.yml
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .lintstagedrc.json
  .npmignore
  .typescriptrc.json
  .webpackrc.js
  citation.cff
  devwebpackrc.js
  index.html
  package-lock.json
  package.json
  readme.md
  src/app.tsx
  src/index.html
  src/index.tsx
  src/theme/index.scss
  test/__snapshots__/index.tsx.snap
  test/index.ts
  test/index.tsx
  webpackrc.js
Due: jest --config .jestrc.json, prettier --write

Revert "Testing (#5)"
  .devwebpackrc.js
  .editorconfig
  .env
  .eslintrc.json
  .eslinttypescriptrc.json
  .github/dependabot.yml
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .lintstagedrc.json
  .npmignore
  .typescriptrc.json
  .webpackrc.js
  citation.cff
  devwebpackrc.js
  index.html
  package-lock.json
  package.json
  readme.md
  src/app.tsx
  src/index.html
  src/index.tsx
  src/theme/index.scss
  test/__snapshots__/index.tsx.snap
  test/index.ts
  test/index.tsx
  webpackrc.js
Due: jest --config .jestrc.json, prettier --write

Revert "Testing (#5)" (#6)
  .devwebpackrc.js
  .editorconfig
  .env
  .eslintrc.json
  .eslinttypescriptrc.json
  .github/dependabot.yml
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .lintstagedrc.json
  .npmignore
  .typescriptrc.json
  .webpackrc.js
  citation.cff
  devwebpackrc.js
  index.html
  package-lock.json
  package.json
  readme.md
  src/app.tsx
  src/index.html
  src/index.tsx
  src/theme/index.scss
  test/__snapshots__/index.tsx.snap
  test/index.ts
  test/index.tsx
  webpackrc.js
Due: jest --config .jestrc.json, prettier --write

setup
  .devwebpackrc.js
  .editorconfig
  .env
  .eslintrc.json
  .eslinttypescriptrc.json
  .github/dependabot.yml
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .lintstagedrc.json
  .npmignore
  .typescriptrc.json
  .webpackrc.js
  citation.cff
  devwebpackrc.js
  index.html
  package-lock.json
  package.json
  readme.md
  src/app.tsx
  src/index.html
  src/index.tsx
  src/theme/index.scss
  test/__snapshots__/index.tsx.snap
  test/index.ts
  test/index.tsx
  webpackrc.js
Due: jest --config .jestrc.json, prettier --write

setup (#7)
  .devwebpackrc.js
  .editorconfig
  .env
  .eslintrc.json
  .eslinttypescriptrc.json
  .github/dependabot.yml
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .lintstagedrc.json
  .npmignore
  .typescriptrc.json
  .webpackrc.js
  citation.cff
  devwebpackrc.js
  index.html
  package-lock.json
  package.json
  readme.md
  src/app.tsx
  src/index.html
  src/index.tsx
  src/theme/index.scss
  test/__snapshots__/index.tsx.snap
  test/index.ts
  test/index.tsx
  webpackrc.js
Due: jest --config .jestrc.json, prettier --write

setup
  .eslinttypescriptrc.json
  .jesttypescriptrc.json
  .typescriptrc.json
  .webpackrc.js
  dockerfile
  nginx.conf
  package-lock.json
Due: prettier --write

setup (#8)
  .eslinttypescriptrc.json
  .jesttypescriptrc.json
  .typescriptrc.json
  .webpackrc.js
  dockerfile
  nginx.conf
  package-lock.json
Due: prettier --write

fix
  .devwebpackrc.js
  .webpackrc.js
Due: none

fix (#9)
  .devwebpackrc.js
  .webpackrc.js
Due: none

docker
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

docker (#10)
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

command
  bin/init.sh
  citation.cff
  package.json
  readme.md
Due: prettier --write

command (#11)
  bin/init.sh
  citation.cff
  package.json
  readme.md
Due: prettier --write

description
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

description (#12)
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

chunkformat
  .devwebpackrc.js
  .webpackrc.js
  bin/init.sh
  citation.cff
  package.json
  readme.md
  src/app.tsx
Due: jest --config .jestrc.json, prettier --write

chunkformat (#13)
  .devwebpackrc.js
  .webpackrc.js
  bin/init.sh
  citation.cff
  package.json
  readme.md
  src/app.tsx
Due: jest --config .jestrc.json, prettier --write

chunkloading
  .devwebpackrc.js
  bin/init.sh
  citation.cff
  package.json
  src/app.tsx
Due: jest --config .jestrc.json, prettier --write

chunkloading (#14)
  .devwebpackrc.js
  bin/init.sh
  citation.cff
  package.json
  src/app.tsx
Due: jest --config .jestrc.json, prettier --write

Revert "chunkloading (#14)"
  .devwebpackrc.js
  bin/init.sh
  citation.cff
  package.json
  src/app.tsx
Due: jest --config .jestrc.json, prettier --write

Revert "chunkloading (#14)" (#15)
  .devwebpackrc.js
  bin/init.sh
  citation.cff
  package.json
  src/app.tsx
Due: jest --config .jestrc.json, prettier --write

chunkloading (#16)
  .devwebpackrc.js
  bin/init.sh
  citation.cff
  package.json
  src/app.tsx
Due: jest --config .jestrc.json, prettier --write

description
  readme.md
Due: none

description (#17)
  readme.md
Due: none

version
  .jestrc.json
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

version (#18)
  .jestrc.json
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

env
  .jestrc.json
  .npmignore
  bin/init.sh
  citation.cff
  package-lock.json
  package.json
Due: prettier --write

env (#19)
  .jestrc.json
  .npmignore
  bin/init.sh
  citation.cff
  package-lock.json
  package.json
Due: prettier --write

version
  .typescriptrc.json
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

version (#20)
  .typescriptrc.json
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write
